<p>
  <b>Title:</b>
  <%=h @requirement_review.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @requirement_review.description %>
</p>


<%= link_to 'Edit', edit_product_requirement_review_path(:product_id, @requirement_review) %> |
<%= link_to 'Back', product_requirement_reviews_path(:product_id) %>