<h1>Listing requirement_levels</h1>

<% addheaderhable(new_admin_requirement_level_path, "Add New Requirement Level") %>
<table class='list'>
  <tr>
    <th>Name</th>
  </tr>

<% @requirement_levels.each do |requirement_level| %>
  <tr>
    <td><%=h requirement_level.name %></td>
    <td><%= link_to 'Show', admin_requirement_level_path(requirement_level) %></td>
    <td><%= link_to 'Edit', edit_admin_requirement_level_path(requirement_level) %></td>
    <td><%= link_to 'Destroy', edit_admin_requirement_level_path(requirement_level), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>