<h1>Requirement Types</h1>

<% addheaderhable(new_admin_requirement_type_path, "Add New Requirement Type") %>
<table class='list'>
  <tr>
    <th>Name</th>
  </tr>

<% @requirement_types.each do |requirement_type| %>
  <tr>
    <td><%=h requirement_type.name %></td>
    <td><%= link_to 'Show', admin_requirement_type_path(requirement_type) %></td>
    <td><%= link_to 'Edit', edit_admin_requirement_type_path(requirement_type) %></td>
    <td><%= link_to 'Destroy', admin_requirement_type_path(requirement_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>