<!-- Column 1 -->
<table width="100%" border="0" cellpadding="10" class="layout">
  <tr>
    <td width="40%">
      <table width="100%">
        <tr text-align="center">
          <th>Requirement Level</th>
          <th>Test Cases</th>
          <th>Verified?<br>(for this release)</th>
        </tr>

        <% @product.req_breakdown.levels.each do |level| %>
            <% if level != nil %>
                <tr class='<%= @product.req_breakdown.levels.index(level).odd? ? "d1" : "d0" %>'>
                  <td>
                    <%= h level.name %></td>
                  <td>
                    <% @product.tests_at_level(level) %>0
                  </td>
                  <td style="text-align:center"><% if @product.req_verified_by_test(level) %> <img src="/images/check-mark-icon.png"/><% else %><img src="/images/delete-icon.png"/><% end %></td>
                </tr>
            <% end %>
        <% end %>
      </table>

      <br><br>

      <table width="100%">
        <tr>
          <th>Report</th>
          <th>Run</th>
        </tr>

        <tr class="d0">
          <td>Requirements Traceability</td>
          <td style="text-align:center"><a href=""><img src="/images/play-icon.png"/></a></td>
        </tr>
        <tr class="d1">
          <td>Residual Risk</td>
          <td style="text-align:center"><a href=""><img src="/images/play-icon.png"/></a></td>
        </tr>
        <tr class="d0">
          <td>Test Progress</td>
          <td style="text-align:center"><a href=""><img src="/images/play-icon.png"/></a></td>
        </tr>
        <tr class="d1">
          <td>Test Status</td>
          <td style="text-align:center"><a href=""><img src="/images/play-icon.png"/></a></td>
        </tr>
      </table>
    </td>

    <!-- Column 2 -->
    <td width="60%">
      <table width="100%">
        <tr text-align="center">
          <th>Execution</th>
          <th>Charter Description</th>
          <th>Assignee(s)</th>
          <th>Progress<br>(%complete)</th>
          <th>Status</th>
        </tr>

        <% if false %>
            <% @product.current_test_executions.each do |execution| %>
                <tr>
                  <td>
                    <% h execution.identifier %></td>
                  <td>
                    <% h execution.description[0, 30] %></td>
                  <td>
                    <% execution.assignees[0, 2].each do |assignee| %>
                        <% h assignee.name %>
                        <br>
                    <% end %>
                  </td>
                </tr>
            <% end %>
        <% end %>

        <tr class="d0">
          <td>ABL-SYS-1</td>
          <td>System Test Execution (verify all system requirements)</td>
          <td>Tester 1<br>Tester 2</td>
          <td>67%</td>
          <td>2</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
